// Works

.works {
    padding-bottom: 60px;

    @include mq(tablet, max) {
        margin-bottom: 30px;
        padding-bottom: 0;
        background-color: #fff;
    }
    
    &__container {
        padding: 125px 115px 115px;
        background-color: #fff;
        background-size: cover;

        @include mq(tablet, max) {
            margin: 0;
            padding: 85px;
        }

        @include mq(phone, max) {
            padding: 55px 25px;
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;

        @include mq(tablet, max) {
            margin-bottom: 20px;
        }

        @include mq(phone, max) {
            margin-bottom: 40px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__title {
        margin-right: 35px;
        margin-bottom: 40px;
        padding-top: 35px;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        text-align: right;
        text-transform: uppercase;
        color: rgba($color: #636363, $alpha: 0.7);

        span {
            display: block;

            @include mq(phone, max) {
                display: inline;
            }
        }

        @include mq(phone, max) {
            margin-right: 0;
            margin-bottom: 20px;
            padding-top: 0;
            // text-align: center;
        }
    }

    &__list {
        margin-right: 35px;
        max-width: 190px;

        @include mq(phone, max) {
           max-width: 100%;
        }
    }

    &__item {
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.3;
        text-align: right;
        text-transform: uppercase;
        color: #646464;
    }

    &__img {
        @include mq(phone, max) {
            padding-right: 120px;
         }
        img {
            box-shadow: 0px 17px 35px 0px rgba(0, 0, 0, 0.84); 
        }
        
    }
}